<launch>
    
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />

    <!-- 转换点云数据为OctoMap数据类型 -->
    <node name="pointcloud_to_octomap" pkg="velodyne_pointcloud" type="transform_node" output="screen">
    <remap from="velodyne_points" to="/velodyne_points"/> <!-- 输入的点云数据 -->
    <param name="frame_id" type="string" value="velodyne"/>
    <param name="leaf_size" type="double" value="0.1"/> <!-- OctoMap的叶子大小，用于构建地图分辨率 -->
    </node>

    <node name="octomap_server" pkg="octomap_server" type="octomap_server_node" output="screen">
    <param name="frame_id" type="string" value="map"/>
    <param name="point_cloud_topic" type="string" value="/octomap_point_cloud_centers"/>
    <param name="resolution" type="double" value="0.05"/>
    </node>


</launch>
